doctype html
html
  head
    title Pug with Webpack
    if isProduction
      style= embedStyles

  body
    h1 Hello from Pug and Webpack!!!!!!!!
    p Env: #{isProduction ? 'production': 'development'}

    ul
      each item in menu.list
        li
          a(href=item.link title=item.title) #{item.label}

    if isProduction
      link(rel="stylesheet" href="/main.css")
